<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://petsrus.com.au/uploads/images/group-of-animals.jpg);">
  <div class="container">
    <h1 class="banner-title">Fur Real</h1>
    <p>Hire Your Pet Best Friend Today!</p>
    <a class="btn btn-primary" href="#">Hire me!</a>
  </div>
</div>

<div class="container text-center">
  <h2>Pets</h2>
  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card">
        <h2><%= link_to "#{pet.name} (#{pet.species})", pet_path(pet)%></h2>
        <p>$<%= pet.price_per_day %> per day</p>
        <img src= <%= pet.photo %>>
      </div>
    <% end %>
  </div>
</div>
