<div class="container text-center">
  <h2>My Bookings</h2>
  <% @bookings.each do |booking| %>
    <% if booking.user == @user %>
      <div class="card-product" style='margin: 20px'>
      <img src= <%= booking.pet.photo %>>
        <div class="card-product-infos">
          <h2><%= booking.start_date %> => <%= booking.start_date.to_date %> </h2>
          <p><%= booking.pet.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
