<div class="container">
  <div class="row">
    <%= link_to 'Book another Pet', pets_path, class: 'btn btn-pets mb-3'%>
  </div>
  <div class="row">
    <div class="col-6 border-right">
      <h2>Upcoming Bookings:</h2>
      <%= render 'upcoming_bookings_cards' %>
    </div>
    <div class="col-6">
      <h2>Past Bookings:</h2>
      <%= render 'bookings_cards' %>
    </div>
  </div>
</div>
