<div class="footer">
  <div class="footer-copyright">
    FurReal - Supporting all furry friends around the world <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram p-3"></i></a>
    <a href="#"><i class="fab fa-facebook p-3"></i></a>
    <a href="#"><i class="fab fa-twitter p-3"></i></a>
  </div>
</div>
