.btn-pets {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-pets:hover {
  background: #2f8dfb;
  color: white;
  text-decoration: none;
}

