.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  margin: 10px;
  color: black;

  a, a:hover {
    color: black !important;
    text-decoration: none;
  }

  a:hover {
    .card {
      background-color: #EFEFEF;
      transition: 0.3s;
    }
  }
}

.card{
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 5px 5px #888888;
  text-decoration: none;
  height: 100%;

  h3 {
    font-size: 1.1em;
  }

  img {
    object-fit: cover;
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
  }
  .card-image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-product {
  overflow: hidden;
  height: 200px;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  opacity: .7;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover{
  opacity: none;
}

.card-image {
  width: 100%;
}
