.navbar-lewagon {
  justify-content: space-between;
  background-color: #56A078;
  height: 70px;
  color: white !important;

}
// #AC3931

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav-home {
    position: absolute;
    background-color: transparent;
    color: white;
    width: 100%;
}
.nav-link {
  color: white !important;

}
