// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
p {
  font-size: 20px;
}
.minimum-height {
  min-height: calc(100vh - 170px);
}
.credentials-container {
  width: 600px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.login {
  width: 100%;
}
